
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #9053c7;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
}
img{
  border: none;
}
.login100-pic {
  /* width: 316px; */
}

.login100-pic img {
  max-width: 100%;
}
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.container-login100-form-btn{
  margin-bottom: 10px;
}
