<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 row m-0 text-center">
      <div class="col-md-4 login100-pic js-tilt d-flex justify-content-center" data-tilt>
        <img style="max-width: 60%;" src="./assets/logo.png" alt="IMG">
      </div>

      <form class="col-md-8 login100-form validate-form d-flex justify-content-center flex-column">
        <h3 class="login100-form-title">
          Welcome to Student Attendance System
        </h3>
        <div class="mt-3">
          <div class="container-login100-form-btn">
            <button routerLink="/register">
              Register face
            </button>
          </div>

          <div class="container-login100-form-btn">
            <button routerLink="/checkin">
              Student checking
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
